


.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}
  
.content {
    background-color: #e6f2ff; /* Replace #f0f0f0 with the color you want */
    flex: 1; /* Element can grow and shrink */
    padding: 20px; /* Adds some space inside the container */
    box-sizing: border-box; /* Includes padding in the height calculation */

  }
  
  .chatroom_Component{
    width: 80%;

  }



.dashboard_title {
  display: flex; /* Aligns children of .dashboard_title side-by-side */
  align-items: center; /* Vertically centers the items in the container */
  justify-content: space-between; /* Spreads the children across the container's main axis */
  
}


.button1 {
  background-color: #151269; /* Dark blue background, not bright red */
  color: white; /* White text color */
  padding: 0px 10px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 20px; /* Text size */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners for a modern look */
  cursor: pointer; /* Cursor indicates clickable item */
  transition: opacity 0.3s ease; /* Smooth transition for hover effect */
  outline: none; /* Remove the focus outline to keep the design clean */
}

.button0 {
  background-color: #151269; /* Dark blue background, not bright red */
  color: white; /* White text color */
  padding: 0px 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 15px; /* Text size */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners for a modern look */
  cursor: pointer; /* Cursor indicates clickable item */
  transition: opacity 0.3s ease; /* Smooth transition for hover effect */
  outline: none; /* Remove the focus outline to keep the design clean */
  min-width: 100px; /* Adjust as needed to fit your button text */
}


.button1:hover, .button2:hover, .button3:hover {
  opacity: 0.8; /* Slightly fade the button on hover for interaction feedback */
}

.button1:active, .button1:active, .button3:active {
  
  transform: scale(0.98); /* Small feedback for click action */
}






/* New styles for the text input */
.textInput {
  flex-grow: 1; /* Allows the text input to fill the space */
  padding: 10px 15px; /* Slightly less padding to match button height */
  margin-right: 10px; /* Ensures some space between the input and the button */
  font-size: 25px;
  border: 1px solid #151269; /* Lighter, more subtle border */
  border-radius: 5px;
  outline: none;
}

/* Ensure the button doesn't grow unnecessarily */
.button3 {
  background-color: #151269; /* Bright red background */
  color: white; /* White text color */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  padding: 10px 20px;
  white-space: nowrap; /* Prevents the button text from wrapping */
  font-size: 20px;
}


.textBar {
  position: absolute;
  bottom: 0;
  right: 0; /* Anchors the textBar to the right edge of its container */
  width: 80%; /* Sets the width of the textBar */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

/* Focus styles for text input */
.textInput:focus {
  border-color: #007bff; /* Blue border to match focus state */
}

/* (Optional) Hover effect for the text input for consistency */
.textInput:hover {
  border-color: #151269;
}

.friend1 {
  border-width: 2px; /* Width of the border */
  border-style: solid; /* Style of the border */
  border-radius: 10px;
  border-color: #151269; /* Color of the border */
  margin-top: 10px;

}



.friend1 {
  cursor: pointer; /* Optional: Changes the cursor to indicate clickability */
  padding: 10px;
  margin: 5px;
}

.highlight {
  background-color: #aad6ec; /* Change as needed */
}


.chatItem {
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  border: 1px solid #af7e7e;
}

.chatItemSelected {
  background-color: rgba(128, 128, 128, 0.5); /* Gray with 50% transparency */
  border: 2px solid blue;
}

.chatroom {
  display: flex;
  flex-direction: column;
  max-height: 900px; /* Adjust based on your design needs */
  overflow-y: auto; /* Show scrollbar when necessary */
  width: 100%; 
  margin: 0; /* Example: Removing margin */
  padding: 0; /* Example: Removing padding */
  align-items: flex-start; /* Default alignment to the start (left) */

}

.sender, .receiver {
  padding: 10px;
  border-radius: 20px;
  margin:  10px; /* Horizontal margin */
  display: inline-block; /* Makes the div behave like an inline element around the content */
  word-wrap: break-word; /* Ensures long words do not overflow */
}

.sender {
  background-color: #c6f8dd;
  margin-left: auto; /* Pushes sender messages to the right */
}

.receiver {
  background-color: #ffffff;
  margin-right: auto; /* Pushes receiver messages to the left */
}
