.container-friends {
  display: flex;
  justify-content: space-between; /* Spreads the sections evenly */
  padding: 20px; /* Adjust as needed */
  height: 60vh; 
    
  }
  
  .section-friends {
    flex: 1; /* Each section takes equal width */
    margin: 0 10px; /* Adds some space between sections */
  }
  
  .Friends-container{
    background-color: rgb(157, 188, 239);
    height: 100%;
  }

  .FriendRequests-container{
    background-color: aquamarine;
    height: 100%;

  }

  .DiscoverFriends-container{
    background-color: rgb(40, 118, 92);
    height: 100%;
    
    
    
  }

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .person-name {
    font-size: 24px; /* Adjust the size as needed */
    margin-left: 10px;
  }

  .friend, .friend-request, .friend-request-item {
    display: flex;
    justify-content: space-between; /* This spaces out the child elements */
    align-items: center; /* Align items vertically in the center */
    margin-right: 10px;
    margin:10px
  
  }
  
  .person-name {
    margin-right: auto; /* Pushes everything else to the right */
  }
  
  .button2 {
    /* Other styles remain */
    margin-left: 10px; /* Ensure there’s space between buttons if side by side */
  }
  

    .button2 {
      background-color: #151269; /* Bright red background */
      color: white; /* White text color */
      padding: 10px 20px; /* Vertical and horizontal padding */
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-size: 15px; /* Text size */
      border: none; /* No border */
      border-radius: 5px; /* Rounded corners for a modern look */
      cursor: pointer; /* Cursor indicates clickable item */
      transition: opacity 0.3s ease; /* Smooth transition for hover effect */
      outline: none; /* Remove the focus outline to keep the design clean */
    }
    
    .button2:hover {
      opacity: 0.8; /* Slightly fade the button on hover for interaction feedback */
    }
    
    .button2:active {
      transform: scale(0.98); /* Small feedback for click action */
    }


  