/* LandingPage.css */
.content {
    background-color: blue;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
    max-height: 90vh;
    
}



.Website_Name {
    color: white;
    font-size: 20px;
    text-align: left;
}


.LandingPage {
    background-color: blue;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh; /* Full viewport height */
    margin: 0; /* Ensure no additional margin is applied */
}


html, body {
    margin: 0;
    padding: 0;
    /* You might also want to set the height to ensure full coverage */
    height: 100%;
    overflow: hidden; /* Prevent scrolling on the body directly, if desired */
}
